@import "variables";
@import "mixin";

.works {
  max-width: $contents-max-width;
  @include mq(pc) {
    &__article-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__article {
    width: calc((100% - 24px * 2) / 3);
    aspect-ratio: 264 / 172;
    margin-bottom: 24px;
    margin-right: 24px;
    @include mq(pc) {
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
    @include mq(sp) {
      margin: 0 auto 24px;
      max-width: 346px;
      width: calc(100% - 20px); // 左右に10pxずつ余白を持たせるため
      aspect-ratio: 346 / 226;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__article-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover; //IE11では使えないよ
  }
}
