@import "variables";
@import "mixin";

.news {
  &__article {
    display: flex;
    align-items: center;
    @include mq-sp {
      display: block;
      text-align: left;
    }
    border-bottom: solid 1px $accent-color;
    padding: 15px;
    &:first-of-type {
      border-top: solid 1px $accent-color;
    }
  }
  &__article-title {
    margin-left: 88px;
    @include mq-sp {
      margin-left: 0;
    }
  }
}
