@import "variables";
@import "mixin";

.news {
  &__article {
    border-bottom: solid 1px $accent-color;
    padding: 15px;
    display: flex;
    align-items: center;
    @include mq-sp {
      display: block;
      text-align: left;
    }
    &:first-of-type {
      border-top: solid 1px $accent-color;
    }
  }
  &__article-title {
    margin-left: 88px;
    @include mq-sp {
      margin-left: 0;
    }
  }
  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__tag {
    border: solid 2px $accent-color;
    background-color: $base-color;
    border-radius: 100vh;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    &--selected {
      background-color: $accent-color;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}
