@import "variables";
@import "mixin";

.site-footer {
	background: #24292E;
	bottom: 0;
	height: 35px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__copyright {
		color: $sub-color;
		font-size: 10px;
	}
}
