@import "variables";
@import "mixin";

.site-footer {
	background: $main-color;
	bottom: 0;
	height: 36px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__copyright {
		color: $base-color;
		font-size: 10px;
	}
}
