@import "variables";
@import "mixin";

.site-header {
	background: $base-color;
	position: fixed;
	inset: 0;
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	&__contents {
		max-width: $contents-max-width;
		width: calc(100% - 20px);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		font-size: 28px;
	}
}

.global-nav {
	display: flex;
	&__item {
		margin-right: 30px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	&__image {
		width: auto;
		height: 20px;
	}
}
