@import "variables";
@import "mixin";

.container {
	inset: 0;
	margin: $header-height auto 0px;
	max-width: $contents-max-width;
	width: calc(100% - 20px);
}

.section-wrapper {
	margin-bottom: 130px;
}

.section-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 65px;
}
