@import "variables";
@import "mixin";

.section-wrapper {
	margin-bottom: 130px;
	text-align: center;
}

.seemore-link {
	margin-top: 50px;
	border-bottom: solid 1px $main-color;
	display: inline-block;
}
