@import "variables";
@import "mixin";

.container {
  inset: 0;
  margin: $header-height auto 60px;
  max-width: $contents-max-width;
  width: calc(100% - 20px);
  @include mq-sp {
    margin: $header-height-sp auto 60px;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__date {
    display: block;
    margin: 20px 0;
  }
  &__thumbnail {
    max-width: $contents-max-width;
    width: calc(100% - 20px);
    height: auto; // IE対応のために指定
  }
  &__contents {
    margin: 60px 0;
  }
  &__artist {
    margin-top: 10px;
    font-weight: bold;
  }
}

.back {
  margin-bottom: 240px;
  text-align: center;
  text-decoration: underline;
}
