@import "destyle";
@import "variables";

html {
	font-family: Arial;
	color: $main-color;
	font-size: 14px;
}

body {
	background-color: $base-color;
	position: relative;
}

.main {
	margin-top: $header-height;
	height: calc(100vh - $header-height - $footer-height);
}

.container {
	inset: 0;
	margin: 0 auto;
	max-width: $contents-max-width;
	width: calc(100% - 20px); // 左右に10pxずつ余白を持たせるため
}

.section-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 65px;
}
