@import "destyle";
@import "variables";

/* pc and smartPhone */
html {
  font-family: Arial;
  color: $main-color;
  font-size: 14px;
}

body {
  background-color: $base-color;
  position: relative;
}

.container {
  inset: 0;
  margin: 0 auto;
  max-width: $contents-max-width;
  width: calc(100% - 20px); // 左右に10pxずつ余白を持たせるため
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.section-wrapper {
  margin-bottom: 130px;
  text-align: center;
}

/* pc */
@media screen and (min-width: 769px) {
  .main {
    margin-top: $header-height;
    min-height: calc(100vh - $header-height - $footer-height);
  }

  .section-title {
    margin-bottom: 65px;
  }
}

/* smartPhone */
@media screen and (max-width: 768px) {
  .main {
    margin-top: $header-height-sp;
    min-height: calc(100vh - $header-height-sp - $footer-height);
  }

  .section-title {
    margin-bottom: 40px;
  }

  .section-wrapper-sp {
    margin-top: $header-height-sp + 52px;
  }
}
